<html>
<head>
    <title> Task List</title>
    <meta charset="UTF-8">
</head>
<body>
<a role="button" href="{{ path('create') }}">Create a new task</a>
<br/><br/>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Description</td>
        <td>Status</td>
        <td>Creation Date</td>
    </tr>
    </thead>
    {% if taskList != null %}
    <tbody>
        {% for task in taskList %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.creationDate|date('d/m/Y') }}</td>
            <td> <a role="button" href="{{ path('update') }}">Update</a></td>
            <td> <a role="button" href="{{ path('delete') }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
</table>
</body>
</html>