<html>
<head>
    <title> Update a task</title>
    <meta charset="UTF-8">
</head>
<body>
<a role="button" href="{{ path('delete', { 'id' : task.id }) }}">Delete this task</a>
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</body>
</html>